 <img src= <%= @film["Poster"] %> >
<li> <strong> <%= "Title:" %> </strong> <%= @film["Title"] %> </li>
<li> <strong> <%= "Year:" %> </strong> <%= @film["Year"] %> </li>
<li> <strong> <%= "Rated:" %> </strong> <%= @film["Rated"] %></li>
<li> <strong> <%= "Released:" %> </strong> <%= @film["Released"] %> </li>
<li> <strong> <%= "Runtime:" %> </strong> <%= @film["Runtime"] %> </li>
<li> <strong> <%= "Genre:" %> </strong> <%= @film["Genre"] %> </li>
<li> <strong> <%= "Director:" %> </strong> <%= @film["Director"] %> </li>
<li> <strong> <%= "Writer:" %> </strong> <%= @film["Writer"] %> </li>
<li> <strong> <%= "Actors:" %> </strong> <%= @film["Actors"] %> </li>
<li> <strong> <%= "Plot:" %> </strong> <%= @film["Plot"] %>  </li>
<li> <strong> <%= "imdbRating:" %> </strong> <%= @film["imdbRating"] %> </li>
<li> <strong> <%= "imdbVotes:" %> </strong> <%= @film["imdbVotes"] %> </li>
<li> <strong> <%= "imdbID:" %> </strong> <%= @film["imdbID"] %> </li>
<li> <strong> <%= "Type:" %> </strong> <%= @film["Type"] %> </li>
<li> <strong> <%= "tomatoMeter:" %> </strong> <%= @film["tomatoMeter"] %> </li>
